.container {
  @media (max-width: 528px) {
    display: flex;
    justify-content: space-between;
  }
}

.title {
  font-size: 56px;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: 8px;
    font-size: 48px;
  }

  @media (max-width: 384px) {
    font-size: 45px;
  }
}
