.hero {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-size: cover;
  background-position: center;
}

.container {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  z-index: 1;
  position: relative;
  color: var(--mantine-color-white);
}

.title {
  font-size: rem(70px);
  font-weight: 900;
  line-height: 1;
}

.description {
  max-width: rem(600px);
}

.signInButton {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
}

@media (max-width: $mantine-breakpoint-sm) {
  .container {
    height: 100vh;
  }
  .title {
    font-size: rem(60px);
  }

  .description {
    max-width: 100%;
    font-size: var(--mantine-font-size-md);
  }
  .signInButton {
    font-size: 16px;
  }
}

@media (max-width: $mantine-breakpoint-xs) {
  .container {
    height: 91vh;
  }
  .title {
    font-size: rem(60px);
  }
  .description {
    max-width: 100%;
    font-size: var(--mantine-font-size-md);
  }
}
