.footer {
  font-size: 14px;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 12px;
    margin: 0 48px;
    margin-bottom: 0;
  }
}

.span {
  @media (max-width: $mantine-breakpoint-xs) {
    display: block;
  }
}
