.footer {
  font-size: 14px;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;

  @media (max-width: 512px) {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.span {
  @media (max-width: 448px) {
    display: block;
  }
}
