.container {
  margin: 32px;
  @media (max-width: $mantine-breakpoint-xs) {
    margin: 8px 16px;
  }

  @media (max-width: 384px) {
    margin: 8px;
  }
}

.paper {
  padding: 32px;
  max-width: fit-content;

  @media (max-width: $mantine-breakpoint-xs) {
    padding: 16px;
  }

  @media (max-width: 384px) {
    padding: 16px 8px;
  }
}

.timelineItem1,
.timelineItemRest {
  @media (max-width: $mantine-breakpoint-xs) {
    padding-left: 8px;
  }
}

.timelineItem1 {
  @media (min-width: $mantine-breakpoint-xs) {
    white-space: nowrap;
  }
}

.buttonsContainer {
  flex-direction: column;
  @media (min-width: $mantine-breakpoint-md) {
    flex-direction: row;
  }
}
