.jobContainer {
  justify-content: center;

  @media (max-width: $mantine-breakpoint-xs) {
    justify-content: start;
  }
}

.stagesContainer {
  @media (max-width: $mantine-breakpoint-lg) {
    max-width: 72vw;
    overflow-x: scroll;
  }

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 68vw;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 64vw;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: flex;
    flex-direction: column;
    --progress-radius: 0;
    border-radius: 4px;
  }
}
