.jobContainer {
  justify-content: center;

  @media (max-width: $mantine-breakpoint-xs) {
    justify-content: start;
  }
}

.stagesBar {
  border-radius: 4px;
  @media (max-width: $mantine-breakpoint-lg) {
    max-width: 72vw;
    overflow-x: scroll;
  }

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 68vw;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 64vw;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: flex;
    flex-direction: column;
  }
}

.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  padding: 10px 16px;
  color: #ffff;
  line-height: 1;
}
