/* 
<DateInput
valueFormat="DD.MM.YYYY"
label="Date input"
placeholder="Date"
size="xs"
styles={{
  root: {
    backgroundColor: "#F5F5F5",
    borderRadius: "8px",
    padding: "16px",
    boxShadow: "0px 4px 8px rgba(0, 0, 0, 0.1)",
  },
  input: {
    backgroundColor: "#FFFFFF",
    border: "none",
    borderRadius: "4px",
    padding: "8px",
    fontSize: "16px",
    color: "#333333",
    boxShadow: "0px 2px 4px rgba(0, 0, 0, 0.1)",
  },
  label: {
    color: "#333333",
    fontSize: "12px",
    fontWeight: "bold",
    marginBottom: "8px",
  },
}}
/> */